:root {
  font-size: 22px;
  line-height: ;
  list-style-type: none;
  text-decoration: none;
  text-align: center;

  /* variables used*/
  --white: #fff;
  --black: #000;
  --bdy: #effaf12a;
  --ftr: #8cafbb;
  --primary: #107bff;
  /* --primary-transparent: #107cff6b; */
  --payment-duration-clr: #999;
  --price-clr: #f11313;
  --features-clr: #6C757D;
  --table-header: #8cafbb;
  --verified-clr: #008000;
  --reg-bg-clr: #607279;
  --search-dropdn-clr: #eeeeeed2;
  --header-btn-bdr: #404b4f80;
  --search-btn: #2d708736;
  --filter-btn: #ffffffad;
  --chat-btn: #25d366;
  --twitter: #55acee;
  --facebook: #3b5999;
  --google: #dd4b39;
}
@media screen and (min-width: 800px) {
  /* h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  } */
  /* h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  } */
}
@media screen and (min-width: 992px) {
}


/** the part defines the general styles of elements in the whole pages */
/* body of the pages */
body {
  background-color: #eff0f12a;
}

/* nav bar */
nav,
.reviews > h4 {
  line-height: normal;
}
.reviews > h4 {
  line-height: 10px;
}

/* to ensure that when you click on an id link, the header will not cover the  beginning of the content the id is pointing to */
[id] {
  scroll-margin-top: 5em;
}

/* the header where the picture, welcome and search bar is in */
header {
  background-image: url("../img/bedroom.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

/*the search container*/
/*defines the properties of both dropdowns(accomodation and location)*/
select {
  background-color: #eeeeeed2;
  font-size: 18px;
  width: 240px;
  border-radius: 3px;
}

/*the search container*/
/*defines the property of the search button*/
.form-group > .search {
  background-color: #2d7087e6;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #404b4f80;
  border-radius: 5px;
}

/*the search container*/
/*defines the property of the filter button*/
.form-group > .filter {
  background-color: #ffffff9d;
  color: #3f3e3e;
  font-size: 20px;
  border: 1px solid #404b4fb3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* the review section */
/* the fines the property of the contents(reviews, names and photo) */
.reviews > div > div > div {
  margin-left: 20%;
  margin-right: 20%;
}

/** about section*/
#about {
  background-color: #fff;
}
#about img {
  background-position: center;
}

/* the post section */
#post,
#post2 {
  position: relative;
}

/* the verification badge of posts that have been verified or posted by users that have been verified by the system */
.ratings-verified {
  position: absolute;
  top: 0px;
  left: -1px;
  z-index: 1;
  font-size: 12px;
  background-color: white;
  color: #008000;
  font-weight: 500;
}

/* the post section */
/* the ratings badge that shows ratings gotten from the reviews that users have given the post after using the service*/
.ratings {
  font-size: 10px;
  font-weight: 500;
  position: abslute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #fff;
  padding: 0;
  margin: auto;
}
.special-ratings {
  font-size: 10px;
  font-weight: 500;
  width: 50%;
}

/* the post section */
/* highlighting the price of the accomodation on the posts */
code {
  font-weight: bold;
  font-size: 18px;
  color: #f11313;
}

/* the post section */
/* photos of posts */
.posts img {
  height: 300px;
  width: 200px;
}

/* the post section */
/* the chat, video inspection and book inspection button on the post */
.btn-group {
  font-size: 18px;
}

/* the post section */
/* pagination for posts*/
#pagination {
  font-size: 12px;
  font-weight: bold;
}

/* cta to people to post their property with us */
.reg-here > div {
  background-color: #607279;
  line-height: 1.2rem;
}
.reg-here > div > p {
  font-size: 22px;
}
.reg-here > div > span > button {
  font-size: 22px;
  font-weight: 500;
  border: solid 2px #fff;
  color: #fff;
}

/** footer */
/*the footer container*/
footer {
  background-color: #8cafbb;
  color: #000;
  font-size: 16px;
}

/* footer */
/* list in footer */
footer li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

/* footer */
/* contact in footer */
.contact {
  font-weight: 500;
}

/* whatsapp external link*/
/*the whatsapp container*/
#whatsappCTA a {
  font-size: 30px;
  position: fixed;
  bottom: 50%;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 10px;
}

.cta-btns button {
  max-width: 150px;
}

/** this next part defines how all the links in general on the website interact with the user */
/** navigation links */
nav a:link {
  text-decoration: none;
  color: #107bff;
}

/** the post links */
.posts a {
  color: black;
}

.posts a:link {
  text-decoration: none;
}

.posts a:hover {
  color: #107bff;
}

/** pagination links */
#pagination > ul > li > a {
  color: black;
}

#pagination > ul > li > a:hover {
  background-color: #107cff6b;
}

/** footer */
/* footer link */
footer a {
  color: #000;
}

/* footer hover */
footer a:hover {
  text-decoration: none;
  color: #fafbfc;
}

/** post.html where the detailed description of the advert is shown */
/* the font-size of the paragraph of the review by users on the posted accomodation */
.reviews > div > div > .post {
  font-size: 16px;
}
/* the font-size of the date posted of the review by users on the posted accomodation */
.reviews > div > div > .post-date {
  font-size: 12px;
}

/** sign in with social media link  */
.twitter-signin {
  background-color: #55acee;
}
.fb-signin {
  background-color: #3b5999;
}
.google-signin {
  background-color: #dd4b39;
}

.table {
  font-size: 12px;
}
.table [colspan] {
  font-size: 14px;
  background-color: #8cafbb;
}
.table th,
.table td {
  padding: 0 10px;
}
